body {
  background: #fafafa;
  height: 100%;
  margin: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  color: #666;
  font-family: Inconsolata, monospace;
  font-size: 18px;
}

a {
  color: #666;
}

#pong {
  height: 100%;
}

.score, .about {
  left: 0;
  right: 0;
  position: absolute;
  padding: 4px;
}

.score {
  top: 0;
}

.about {
  bottom: 0;
}
